body {
    background: #f1f1f1;
}
.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    overflow: hidden;
    z-index: 0;
    justify-content: center;
    width: 50rem;
    
}

.card-title {
    padding-top: 1.5rem; 
    font-weight: 400px;
    padding-bottom: 1.5rem;
    
}

.title-color {
    background-color: teal;
    color: white;
}